<!doctype html>
<html>
     <head>
			<title>signup</title>{% load static %}
			  
		    {% load static %}
			<link rel="stylesheet" href="{% static 'css/style2.css'%}">
			
	<style> 
		
	</style>
	        
	</head>
<body class="a">


	<div class="abc">
		<ul>
			<li><a href="{%url 'facultyhome'%}">HOME</a></li>
			<li>
				
				<form name="signup" action="{%url 'signout'%}" method="POST">
					{% csrf_token %}
					<input type="submit"  class="frm1" value="SIGN OUT" name="signout"> 
				</form>
				</li>
		</ul>
	</div>


		<div style="display:inline-flex">
          <div class="form">
			  <ul>
					<li><a href="{%url 'facultydetails'%}">MY PROFILE</a></li> 
					<li><a href="{%url 'facultyattendance'%}">ATTENDANCE</a></li>
					<li><a href="{%url 'facultyhome'%}">STUDENT DETAILS</a>
						<div class="submenu1">
							<ul>
								<li><a href="{%url 'fstuddetails'%}">PERSONAL DETAILS</a></li>
								<li><a href="{%url 'studentattendance'%}">ATTENDANCE</a></li>
								<li><a href="{%url 'facmarks'%}">ADD MARKS</a></li>
							</ul>
							
					   </div>
					   </li>
					<li><a href="{%url 'allstudmarks'%}">VIEW MARKS</a></li>
					<li><a href="{%url 'timetable'%}">TIME TABLE</a></li>    
	</div>
	
	
		<div class="form6" style="padding:20px;margin-left:200px ;">								
			<table>	
				<tr>
					<td style="padding:10px">Student Id</td>
					<td style="padding:10px">Name</td>
					<td style="padding:10px">Assesment No</td>
					<td style="padding:10px">Sub1</td>
					<td style="padding:10px">sub2</td>
					<td style="padding:10px">sub3</td>
					<td style="padding:10px">Percentage</td>
				</tr>
				{%if authors%}
		        {%for i in authors%}
				<tr>
					<td>{{i.studentid}}</td>
					<td>{{i.username}}</td>
					<td> {{i.assesmentno}} </td>
					<td>{{i.sub1}}</td>
					<td>{{i.sub2}}</td>
					<td>{{i.sub3}}</td>
					<td>{{i.percentage}}</td>
	
				</tr>
				{%endfor %}
		        {%endif %}
				</table>	
			</div>
		






	</div>




		<div class="ft">
      <footer>
	           <p>&copy 2018-2019 company ltd<p>
	  
	  </footer>
 </div> 
</body>
</html>		
