<!doctype html>
<html>
     <head>
			<title>signup</title>{% load static %}
			  
		    {% load static %}
			<link rel="stylesheet" href="{% static 'css/style2.css'%}">
			
	<style> 
		
	</style>
	        
	</head>
<body class="a">


	<div class="abc">
		<ul>
			<li><a href="{%url 'facultyhome'%}">HOME</a></li>
			<li>
				<form name="signup" action="{%url 'signout'%}" method="POST">
					{% csrf_token %}
					<input type="submit"  class="frm1" value="SIGN OUT" name="signout"> 
				</form>
				</li>
		</ul>
	</div>

	<div style="display:inline-flex">
          <div class="form">
			  <ul>
					<li><a href="{%url 'facultydetails'%}">MY PROFILE</a></li> 
					<li><a href="{%url 'facultyhome'%}">ATTENDANCE</a></li>
					<li><a href="{%url 'facultyhome'%}">STUDENT DETAILS</a>
						<div class="submenu1">
							<ul>
								<li><a href="{%url 'fstuddetails'%}">PERSONAL DETAILS</a></li>
								<li><a href="{%url 'facstudattendance'%}">ADD ATTENDANCE</a></li>
								<li><a href="{%url 'facmarks'%}">ADD MARKS</a></li>
							</ul>
							
					   </div>
					   </li>
					<li><a href="{%url 'allstudmarks'%}">MARKS</a></li>
					<li><a href="#">TIME TABLE</a></li>    
	</div>	
			<div>
				<div class="form6" style="padding:20px;margin-left:100px">
					<form name="signup" action="{%url 'addattendance'%}" method="POST">
					{% csrf_token %}
										
					<table>	
						<tr>
							<td>Student Id</td>
							<td><input type="text" class="frm1" name="studentid"></td>
						</tr>
						<tr>
							<td>Student Name</td>
							<td><input type="text" class="frm1" name="username"></td>
						</tr>
						<tr>
							<td>Date</td>
							<td><input type="date" class="frm1" name="date"></td>
						</tr>
						<tr>
							<td>Hour1</td>
							<td><input type="text" class="frm1" name="status_hour1"></td> </td>
						</tr>
						<tr>
							<td>Hour2</td>
							<td> <input type="text" class="frm1"  name="status_hour2"> </td>
						</tr>
						<tr>
							<td>Hour3</td>
							<td><input type="text" class="frm1"  name="status_hour3"></td>
			
						</tr>
						<tr>
							<td>Hour4</td>
							<td><input type="text" class="frm1"  name="status_hour4"></td>
			
						</tr>
						
						<tr>
							<td><input type="submit" name="submit" class="frm1" value="Add Attendance"><br> </td>
						</tr>	
						</table>	
					</form>
					</div>
				








			</div>

		</div>




		<div class="ft">
      <footer>
	           <p>&copy 2018-2019 company ltd<p>
	  
	  </footer>
 </div> 
</body>
</html>		
