<!doctype html>
<html>
     <head>
			<title>signup</title>{% load static %}
			  
		    {% load static %}
			<link rel="stylesheet" href="{% static 'css/style1.css'%}">
	<style> 
		
	</style>
	        
	</head>
<body class="a">
          <div class="form">
				  <ul>
					  <li><a href="{%url 'login'%}">ADMIN</a></li>
					  <li><a href="{%url 'login'%}">FACULTY</a></li>
					  <li><a href="{%url 'login'%}">STUDENT</a></li>

				  </ul>
			  </div>
		            
					
					
					
			        
	</div>	
		<div class="ft">
      <footer>
	           <p>&copy 2018-2019 company ltd<p>
	  
	  </footer>
 </div> 
</body>
</html>		
